<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue</title>
  </head>
  <body>
    <div id="app">
      <form netlify name="rsvp">
        <div>
          <label>Email* <input type="email" name="email" ref="email" required v-model="state.email"/></label>
      </div>
      
      <div>
          <label>Your Name* <input type="text" name="name" ref="name" required v-model="state.name"/></label>
      </div>
      <div>
          <label>Your Partner's Name <input type="text" name="partner" required v-model="state.partnerName" /></label>
      </div>
      <div>
          <label>Children's Name(s)<input type="text" name="child" v-model="state.childrenName" /></label>
      </div>

      <div>
          <label>Are you able to attend?*</label><br/>
          <label>Yes <input type="radio" name="attending" value="Yes" v-model="state.attending"/></label><br/>
          <label>No <input type="radio" name="attending" value="No" v-model="state.attending"/></label>
      </div>

      <div>
          <h2>Food Choices</h2>
          <p>Please choose your choice of sandwich or soup. Accompanying snacks and salad will be available.</p>
          <p>Dessert will be a choice of wedding cake flavours.</p>

          <label>
              Your Choice
              <select name="sandwich" required v-model="state.sandwich">
                  <option value="beef">Strips of Beef,Fried Onions and Cheese served in a toasted Baguette</option>
                  <option value="halloumi">Grilled Halloumi and roasted Red Pepper thick cut toasted sandwich</option>
                  <option value="club">Club sandwich</option>
                  <option value="soup">Spiced Apple and Parsnip soup with crusty Bread Roll</option>
              </select>
          </label>
          <label v-if="state.partnerName !== ''">
              Partner's Choice
              <select name="partners-sandwich" v-model="state.partnersSandwich">
                  <option value="beef">Strips of Beef,Fried Onions and Cheese served in a toasted Baguette</option>
                  <option value="halloumi">Grilled Halloumi and roasted Red Pepper thick cut toasted sandwich</option>
                  <option value="club">Club sandwich</option>
                  <option value="soup">Spiced Apple and Parsnip soup with crusty Bread Roll</option>
              </select>
          </label>
          <label v-if="state.childrenName !== ''">
              Kid's Choice (Ham or Cheese Sandwich). Comes with crisps, fruit bag and drink
              <textarea name="kids-sandwich" v-model="state.kidsSandwich"></textarea>
          </label>
          <label>Any dietary requirements?<textarea type="text" name="dietary" v-model="state.dietary"></textarea></label>
          <input type="submit" value="Submit"/>
      </div>
        
      </form>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
