@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@font-face {
  font-family: 'GNUTypewriter';
  src:url('/GNUTypewriter.ttf.woff') format('woff'),
      url('/GNUTypewriter.ttf.svg#GNUTypewriter') format('svg'),
      url('/GNUTypewriter.ttf.eot'),
      url('/GNUTypewriter.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: 'Source Sans Pro', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #ab1700; /* WebKit/Blink Browsers */
  color: white;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-family: 'GNUTypewriter', Helvetica, Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: center;
}
h2 {
  font-family: 'GNUTypewriter', Helvetica, Arial, sans-serif;
  color:  #ab1700;
}

.decorative {
  font-family: 'GNUTypewriter', Helvetica, Arial, sans-serif;
}

  :root {
    color: #541f1a;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }


nav {
  margin-top: 50px;
}

nav a {
  display: inline-block;
  padding: 20px;
  background-color: #541f1a;
  color: white;
  text-decoration: none;
  transition: 0.35s ease;
  font-family: 'GNUTypewriter', Helvetica, Arial, sans-serif;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  opacity: 0.75;
}

.container {
  padding-bottom: 10vh;
}