
@font-face {
  font-family: 'NeoBulletin-Trash';
  src:url('/public/Old-Typewriter.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'NeoBulletin-Trash', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
}

h2 {
  color:  #ab1700;;
}

  :root {
    color: #541f1a;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }

